@import url('https://fonts.googleapis.com/css2?family=Domine&family=Roboto:wght@300&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Domine', serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* LLink coloring */

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}