    /* For smooth autoscroll */

    html {
        scroll-behavior: smooth;
    }

    /* ---------- */

    /* TYPOGRAPHY */

    /* ---------- */

    @import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&family=Roboto:wght@300;400&display=swap');

    * {
        font-family: 'Roboto', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: 1.5;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Domine', serif;
        font-weight: 500;
        text-align: center;
    }

    .theme--light.v-application .text--primary {
        color: rgb(0 0 0 / 95%) !important;
    }
    
    .serif {
        font-family: 'Domine', serif !important;
        text-align: center;
    }

    /* --------- */

    /* - Other - */

    /* --------- */

    /* Force into center */

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Decoration for more/less tags on the end of clamped text */

    .clamp {
        text-decoration: none;
        font-weight: 400;
        font-size: 0.9rem;
        font-family: 'Roboto', sans-serif;
        margin-left: 2px;
    }

    /* Fancy hover links */

    /* Technique used taken from: https://www.justin.ly/css-animated-underline-hover-links/ */

    a {
        text-decoration: none;
    }

    .animatedLink {
        text-decoration: none;
        display: inline-block;
        position: relative;
    }

    .animatedLink:after {
        bottom: 0;
        content: "";
        display: block;
        height: 1px;
        left: 50%;
        position: absolute;
        background: var(--v-anchor-base);
        transition: width 0.5s ease 0s, left 0.5s ease 0s;
        width: 0;
    }

    .animatedLink:hover:after {
        width: 100%;
        left: 0;
    }